// https://coolors.co/0fa3b1-880044-15b097-f7a072-172a3a
$text-color: #172A3A;

$color-primary: #fff;
$color-secondary: #fff;

$font-serif: 'IBM Plex Serif', serif;
$font-sans-serif: 'IBM Plex Sans', sans-serif;